<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h2>Vue methods 속성</h2>
    <div id="app">
      <div>
        <ul>
          <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}의 가격: <input type="text" v-on:input="item.price = $event.target.value" v-bind:value="item.price">
          </li>
        </ul>
        <hr>
        <ul>
          <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}: {{ item.price }} x {{ item.quantity }} = {{
            item.price * item.quantity }}원
          </li>
        </ul>
        <p>합계: {{ totalPrice }}원</p>
      </div>
    </div>

    <script>
      const items = [
        {
          name: 'CPU',
          price: 462984,
          quantity: 1
        },
        {
          name: '메인보드',
          price: 112053,
          quantity: 1
        },
        {
          name: '메모리',
          price: 112053,
          quantity: 2
        }
      ];

      new Vue({
        el: '#app',
        data: {
          items: items
        },
        computed: {
          totalPrice() {
            return this.items.reduce((sum, item) => {
              return sum + item.price * item.quantity;
            }, 0);
          }
        }
      });
    </script>
  </body>
</html>
