# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.chap03.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\anifilm\GitHub\workspace\csharp\csharp_basic\chap03\.idea\.idea.chap03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
