content {
  margin-top: 0;
  margin-bottom: 24px;
}

span {
  color: #eb516b;
}

input:not([type]), .demos input[type=text] {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 8px;
}

button {
  background: #eb516b;
  border: none;
  border-radius: 2px;
  padding: 4px 16px;
  color: #fff;
  transition: background-color .25s;
  cursor: pointer;
}
