body {
  background-color: #2c3e50;
  color: white;
}

.wrapper {
  height: 100%;
  text-align: center;
}

.wrapper:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  margin-right: 0;
  vertical-align: middle;
}

.box {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
