.input {
  background-color: Pink;
}

.item {
  background-color: LightYellow;
}

.header {
  background-color: LightGreen;
}

.footer {
  background-color: AliceBlue;
}

.list {
  background-color: LightCyan;
}
