<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>chap04</display-name>

  <!-- 서블릿 선언 -->
  <servlet>
    <servlet-name>MemberUpdateServlet</servlet-name>
    <servlet-class>spms.servlets.MemberUpdateServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost/java_web_app_chap04</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lcy0200</param-value>
    </init-param>
  </servlet>

  <!-- 서블릿을 URL과 연결 -->
  <servlet-mapping>
    <servlet-name>MemberUpdateServlet</servlet-name>
    <url-pattern>/member/update</url-pattern>
  </servlet-mapping>

</web-app>
