<form>
  <table>
    <tr>
      <td>사용자아이디</td>
      <td>{{ userId }}</td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="password" [value]="userPw" /></td>
    </tr>
    <tr>
      <td>소개</td>
      <td><textarea rows="5" [value]="introduction"></textarea></td>
    </tr>
    <tr>
      <td>개발자여부</td>
      <td>
        <span *ngIf="developer">개발자</span>
      </td>
    </tr>
    <tr>
      <td>외국인여부</td>
      <td>
        <span *ngIf="foreigner === 'yes'">외국인</span>
      </td>
    </tr>
    <tr>
      <td>취미</td>
      <td>
        <ul>
          <li *ngFor="let hobby of hobbyList">{{ hobby }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>성별</td>
      <td>
        <span *ngIf="gender === 'male';else other_content">Male</span>
        <ng-template #other_content>Female</ng-template>
      </td>
    </tr>
    <tr>
      <td>국적</td>
      <td>
        <select [value]="nationality">
          <option disabled value="">Please select one</option>
          <option value="01">Korea</option>
          <option value="02">Germany</option>
          <option value="03">Australia</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>국적</td>
      <td>
        <ng-container [ngSwitch]="nationality">
          <span *ngSwitchCase="'01'">Korea</span>
          <span *ngSwitchCase="'02'">Germany</span>
          <span *ngSwitchCase="'03'">Australia</span>
          <span *ngSwitchDefault>None</span>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>국적</td>
      <td>
        {{ getNationality() }}
      </td>
    </tr>
    <tr>
      <td>소유차량</td>
      <td>
        <select name="selectedCars" [(ngModel)]="selectedCars" multiple>
          <option *ngFor="let car of cars" [ngValue]="car">{{car}}</option>
        </select>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit">등록</button>
  </p>
</form>
