.input {
  background-color: #ffceff;
  margin-bottom: 10px;
}
div>span {
  margin: 10px;
}
.item {
  background-color: #ffffcd;
  margin: 10px 0;
}

.header {
  background-color: #adffad;
}

.footer {
  background-color: #d2ffff;
  margin-top: 10px;
}

.list {
  background-color: #dedeff;
}
